[DEFAULT]
; Additional defaults are (defined in libs/config.py by using libs/files.py):
;   tmpdir = temporary directory
;   rootdir = root directory of the offline processing scripts
;   logdir = base directory for log files

; Seasons
; Current season
Season = 2020

; Meta data file
MetaFileTemplateMainProcessing = %(rootdir)s/config/meta_template.xml

; ########################################
; ##### PERSONNEL ########################
; ########################################
[PERSONNEL]
; Personnel information is required for meta data
FirstName = Rob
LastName = Snihur
eMail = rsnihur@icecube.wisc.edu

; ########################################
; ##### GCDGeneration ####################
; ########################################
[GCDGeneration]
; The src and build directory that should be used
I3_BUILD = /cvmfs/icecube.opensciencegrid.org/users/i3filter/py2-v3.1.1/${OS_ARCH}/icerec/V05-02-04
I3_SRC = /cvmfs/icecube.opensciencegrid.org/users/i3filter/py2-v3.1.1/metaprojects/icerec/V05-02-04

; SPE correction not needed if used with gcdserver
SpeCorrectionFile = ${Level2:I3_SRC}/filterscripts/resources/data/final-spe-fits-pole-run2016_MAY.json.bz2

TmpCondorSubmitFile = %(tmpdir)s/submit_GCD.condor
CondorLog = ${Level2:OutputBasePath}/OfflinePreChecks/run_logs/condor_logs/{month:0>2}{day:0>2}/Run{run_id:0>8}_{production_version}_{snapshot_id}.log
CondorErrorLog = ${Level2:OutputBasePath}/OfflinePreChecks/run_logs/condor_err/{month:0>2}{day:0>2}/Run{run_id:0>8}_{production_version}_{snapshot_id}.err
OutLog = ${Level2:OutputBasePath}/OfflinePreChecks/run_logs/logs/{month:0>2}{day:0>2}/Run{run_id:0>8}_{production_version}_{snapshot_id}.out

I3LiveHost = live.icecube.wisc.edu
MongoDBHost = mongodb-live

#GCDCompareTool = ${Level2:I3_SRC}/gcdserver/resources/GCDDiff.py
GCDCompareTool = /data/user/i3filter/IC86_OfflineProcessing/OfflineSubmitScripts_2020/GCDDiff.py

; ########################################
; ##### GCD ##############################
; ########################################
[GCD]
BadDomListName = BadDomsList
BadDomListNameSLC = BadDomsListSLC

; Note that the SPS GCD files do NOT have leading zeros for the run id!
SPSGCDFile = /data/exp/IceCube/{year}/internal-system/sps-gcd/{month:0>2}{day:0>2}/PFGCD_Run{run_id:0>8}_Subrun00000000.flat.tar

; If the GCD files should be generated on the local machine (not using condor) the commands will be written into this file
LocalExecutionBashFile = %(tmpdir)s/generate_gcds.sh
LocalExecutionLogFile = %(tmpdir)s/generate_gcds_{run_id}_{snapshot_id}_{production_version}.out

; Allow GCD processing with crons
CronGCDProcessing = On

; !!! THE FOLLOWING CONFIGURATIONS OVERRIDE THE CONFIGURATIONS FROM THE DATABASE !!!
; !!! FOR ALL SEASONS !!!
; ONLY UNCOMMENT THOSE CONFIGURATIONS IF YOU KNOW WHAT YOUR DOING, E.G. IF YOU NEED TO TEST
; SOMETHING AND WANT TO WRITE THE DATA TO A DIFFERENT PLACE
; HOWEVER, FOR PRODUCTION ALWAYS USE THE DATA FROM THE DATABASE. IT CONTAINS ALL INFORMATION
; FOR ALL SEASONS YOU SHOULD NEED. THE DATABASE ALSO IS A NICE SOURCE FOR HISTORICAL INFORMATION.

; GCD = ${Level2:OutputBasePath}/OfflinePreChecks/DataFiles/{month:0>2}{day:0>2}/Level2_IC86.{season}_data_Run{run_id:0>8}_{production_version}_{snapshot_id}_GCD.i3.zst

; ########################################
; ##### GCD Pass2 ########################
; ########################################
[GCDPass2]
BadDomListName = BadDomsList
BadDomListNameSLC = BadDomsListSLC

; !!! THE FOLLOWING CONFIGURATIONS OVERRIDE THE CONFIGURATIONS FROM THE DATABASE !!!
; !!! FOR ALL SEASONS !!!
; ONLY UNCOMMENT THOSE CONFIGURATIONS IF YOU KNOW WHAT YOUR DOING, E.G. IF YOU NEED TO TEST
; SOMETHING AND WANT TO WRITE THE DATA TO A DIFFERENT PLACE
; HOWEVER, FOR PRODUCTION ALWAYS USE THE DATA FROM THE DATABASE. IT CONTAINS ALL INFORMATION
; FOR ALL SEASONS YOU SHOULD NEED. THE DATABASE ALSO IS A NICE SOURCE FOR HISTORICAL INFORMATION.

; GCD = ${Level2pass2:OutputBasePath}/OfflinePreChecks/DataFiles/{month:0>2}{day:0>2}/Level2_IC86.{season}_data_Run{run_id:0>8}_{production_version}_{snapshot_id}_GCD.i3.zst

; ########################################
; ##### PFDST ############################
; ########################################
[PFDST]

PFDSTFile = /data/exp/IceCube/{year}/unbiased/PFDST/{month:0>2}{day:0>2}/PFDST_{filtering_type}_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}.tar.gz

; ########################################
; ##### PFFilt ###########################
; ########################################
[PFFilt]

PFFiltFile = /data/exp/IceCube/{year}/filtered/PFFilt/{month:0>2}{day:0>2}/PFFilt_PhysicsFiltering_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}.tar.bz2

; ########################################
; ##### L2 ###############################
; ########################################
[Level2]
; The src and build directory that should be used
I3_BUILD = /cvmfs/icecube.opensciencegrid.org/py3-v4.1.1/${OS_ARCH}/metaprojects/combo/V01-01-01
I3_SRC = /cvmfs/icecube.opensciencegrid.org/py3-v4.1.1/metaprojects/combo/V01-01-01

; Paths
; You can use {year}, {season}, {day}, {month}, {production_version}, {run_id}, {snapshot_id}, {now} (datetime), {sub_run_id}, {detector_configuration}, {ic86_season}
; if available for those paths.

; This is just a helper variable. It is not used by the scripts!
; HOWEVER, this variable is also used in the GCD section and is very helpful.
; This variable does NOT ned to be modified for PRODUCTION! Only if you perform some tests it
; is convenient to just change this variable AND uncomment the configs in Level2 and GCD section.
OutputBasePath = /data/exp/IceCube/{year}/filtered/level2

; Good run list (GRL) options. After each post processing, a new GRL will be created and if new entries were added, the file will be kept.
; Any version of the GRL will be kept in the `GRLFolder`. The file name is `GRLFileName`. Since there is always a 'GRL' and a 'Versioned GRL'
; ('Versioned GRL' means, that the `RUN_FOLDER` path is used instead of `RUN_FOLDER_LINK`) you need to specify both file names.
GRLFolder = ${Level2:OutputBasePath}/RunInfo
GRLFileName = ${Level2:GRLFolder}/IC86_{season}_GoodRunInfo_{production_version}_{now:%%Y_%%m_%%d-%%H_%%M_%%S}.txt
GRLFileVersionedName = ${Level2:GRLFolder}/IC86_{season}_GoodRunInfo_{production_version}_Versioned_{now:%%Y_%%m_%%d-%%H_%%M_%%S}.txt

; The latest GRL has a sym link in the level2 base folder. Those options specify the link names
GRLLinkName = ${Level2:OutputBasePath}/IC86_{season}_GoodRunInfo.txt
GRLLinkVersionedName = ${Level2:OutputBasePath}/IC86_{season}_GoodRunInfo_Versioned.txt

; For the following options exists the magic variable {RUN_FOLDER}. The value for {RUN_FOLDER} comes
; from the database that holds such information for each season.

; All gaps files will be tar-ed and then removed. Only the tar-ed version will be kept. This option specifies
; the name of the tar-ed version
GapsTarFile = {RUN_FOLDER}/Run{run_id:0>8}_GapsTxt.tar

; A couple of log files are written to the datawarehouse. They will also be tar-ed and removed. Only the tar-ed
; version will be kept. This option specifies the tar file name.
;TarLogFileName = {RUN_FOLDER}/logfiles.tar.bz2
TarLogFileName = {RUN_FOLDER}/Run{run_id:0>8}_logfiles.tar.bz2

; Here you can specify as many glob strings as you want to find all log files. Note that you
; also can still use {year}, {run_id} etc. but NOT {sub_run_id}
; Be careful not to make a glob that includes data files!
; Note that the variable name MUST start with `LogFileGlob` followed by a number!
LogFileGlob1 = {RUN_FOLDER}/*.logerr
LogFileGlob2 = {RUN_FOLDER}/*.logicetray
LogFileGlob3 = {RUN_FOLDER}/*.logout
LogFileGlob4 = {RUN_FOLDER}/*.log
LogFileGlob5 = {RUN_FOLDER}/*.sha512

; Meta data file
; NOTE: This is the only "path" that is NOT!!!! NOT an absolute path. It is just the file name.
MetaFileName = level2_meta.xml

; Allow L2 main processing with crons
CronMainProcessing = On

; Allow L2 post processing with crons
CronPostProcessing = On

; !!! THE FOLLOWING CONFIGURATIONS OVERRIDE THE CONFIGURATIONS FROM THE DATABASE !!!
; !!! FOR ALL SEASONS !!!
; ONLY UNCOMMENT THOSE CONFIGURATIONS IF YOU KNOW WHAT YOUR DOING, E.G. IF YOU NEED TO TEST
; SOMETHING AND WANT TO WRITE THE DATA TO A DIFFERENT PLACE
; HOWEVER, FOR PRODUCTION ALWAYS USE THE DATA FROM THE DATABASE. IT CONTAINS ALL INFORMATION
; FOR ALL SEASONS YOU SHOULD NEED. THE DATABASE ALSO IS A NICE SOURCE FOR HISTORICAL INFORMATION.

; The path where all the level2 files should be stored
; RUN_FOLDER = ${Level2:OutputBasePath}/{month:0>2}{day:0>2}/Run{run_id:0>8}_{production_version}

; Name of the GCD file in the run folder. MUST be a absolute path
; RUN_FOLDER_GCD = ${Level2:RUN_FOLDER}/Level2_IC86.{season}_data_Run{run_id:0>8}_{month:0>2}{day:0>2}_{production_version}_{snapshot_id}_GCD.i3.zst

; After the run has been validated, a sym link to the folder will be created that has no prodiction version information.
; For instance, it could point to `Run00123456 -> Run00123456_99`.
; RUN_FOLDER_LINK = ${Level2:OutputBasePath}/{month:0>2}{day:0>2}/Run{run_id:0>8}

; If a sub run is entirely or partly not within the good start/stop time range, the file will be moved to a (sub)folder to
; make sure that those files are not accidently used. This option specifies the folder for those subr runs
; BAD_FILE_FOLDER = ${Level2:RUN_FOLDER}/Bad_NotWithinGoodRunRange

; The actual file names. Note that this MUST always be absolute paths!
; Also note, that those filenames must match the config in iceprod!
; DATA = ${Level2:RUN_FOLDER}/Level2_IC86.{season}_data_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}.i3.zst
; ICE_TOP = ${Level2:RUN_FOLDER}/Level2_IC86.{season}_data_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}_IT.i3.zst
; GAPS = ${Level2:RUN_FOLDER}/Level2_IC86.{season}_data_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}_gaps.txt
; EHE = ${Level2:RUN_FOLDER}/Level2_IC86.{season}_data_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}_EHE.i3.zst
; SLOP = ${Level2:RUN_FOLDER}/Level2_IC86.{season}_data_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}_SLOP.i3.zst

; ########################################
; ##### L2 Pass2 #########################
; ########################################
[Level2pass2]

; Paths
; This is just a helper variable. It is not used by the scripts!
OutputBasePath = /data/exp/IceCube/{year}/filtered/Level2pass2

GRLFolder = ${Level2pass2:OutputBasePath}/RunInfo
GRLFileName = ${Level2pass2:GRLFolder}/IC86_{season}_GoodRunInfo_{production_version}_{now:%%Y_%%m_%%d-%%H_%%M_%%S}.txt
GRLFileVersionedName = ${Level2pass2:GRLFolder}/IC86_{season}_GoodRunInfo_{production_version}_Versioned_{now:%%Y_%%m_%%d-%%H_%%M_%%S}.txt
GRLLinkName = ${Level2pass2:OutputBasePath}/IC86_{season}_GoodRunInfo.txt
GRLLinkVersionedName = ${Level2pass2:OutputBasePath}/IC86_{season}_GoodRunInfo_Versioned.txt

; !!! SEE COMMENT IN LEVEL2 SECTION !!!
; !!! DO ONLY UNCOMMENT IF YOU KNOW WHAT YOU DO !!!

; RUN_FOLDER = ${Level2pass2:OutputBasePath}/{month:0>2}{day:0>2}/Run{run_id:0>8}_{production_version}
; RUN_FOLDER_GCD = ${Level2pass2:RUN_FOLDER}/Level2_IC86.{season}_data_Run{run_id:0>8}_{month:0>2}{day:0>2}_{production_version}_{snapshot_id}_GCD.i3.zst
; RUN_FOLDER_LINK = ${Level2pass2:OutputBasePath}/{month:0>2}{day:0>2}/Run{run_id:0>8}

; DATA = ${Level2pass2:RunLinkName}/Level2_IC86.{season}_data_Run{run_id:0>8}_Subrun{sub_run_id:0>8}.i3.bz2
; GAPS = ${Level2pass2:RunLinkName}/Level2_IC86.{season}_data_Run{run_id:0>8}_Subrun{sub_run_id:0>8}_gaps.txt

; ########################################
; ##### L3 ###############################
; ########################################
[Level3]
; Filename pattern
FileName = Level3_{detector_configuration}.{season}_data_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}.i3.zst

; Cosmic Ray WG Special GCDs
CosmicRayGCD = /data/ana/CosmicRay/IceTop_level3/exp/{detector_configuration}.{season}/production/GCD/Level3_{detector_configuration}.{season}_data_Run{run_id:0>8}_{month:0>2}{day:0>2}_GCD.i3.gz

; Cosmic Ray WG MC GCD files
CosmicRayMCGCD_2010 = /data/sim/sim-new/downloads/GCD/GeoCalibDetectorStatus_IC79.55380_L2a.i3.gz
CosmicRayMCGCD_2011 = /data/sim/sim-new/downloads/GCD/GeoCalibDetectorStatus_IC86.55697_corrected_V3_NovSnow.i3.gz
CosmicRayMCGCD_2012 = /data/sim/sim-new/downloads/GCD/GeoCalibDetectorStatus_2012.56063_V1_OctSnow.i3.gz
CosmicRayMCGCD_2013 = /data/sim/sim-new/downloads/GCD/GeoCalibDetectorStatus_2013.56429_V1_OctSnow.i3.gz
CosmicRayMCGCD_2014 = /data/sim/sim-new/downloads/GCD/GeoCalibDetectorStatus_2014.56784_V0_NovSnow.i3.gz
CosmicRayMCGCD_2015 = /data/sim/sim-new/downloads/GCD/GeoCalibDetectorStatus_2015.57161_V0_OctSnow.i3.gz
CosmicRayMCGCD_2016 = /data/sim/sim-new/downloads/GCD/GeoCalibDetectorStatus_2016.57531_V0_OctSnow.i3.gz

; Meta data file
MetaFileName = level3_meta.xml

; Managing crons
CronMainSubmission = On
CronPostProcessing = On

; ########################################
; ##### L4 ###############################
; ########################################
[Level4]
; Filename pattern
FileName = Level4_{detector_configuration}.{season}_data_Run{run_id:0>8}_Subrun00000000_{sub_run_id:0>8}.i3.zst

; Meta data file
MetaFileName = level4_meta.xml

; ########################################
; ##### PoleGCDChecks ####################
; ########################################
[PoleGCDChecks]
; Log file for a specific run
RunLogFile = %(logdir)s/PoleGCDChecks/Run{run_id:0>8}.log

; Receivers for notifications: The key must start with 'NotificationReceiver' followed by an unique number
; NotificationReceiver1 = drwilliams3@ua.edu
; NotificationReceiver2 = john.kelley@icecube.wisc.edu
; NotificationReceiver3 = matt.kauer@icecube.wisc.edu
; NotificationReceiver8 = juancarlos@icecube.wisc.edu
NotificationReceiver9 = rsnihur@icecube.wisc.edu

; Managing crons
CronEnabled = On

; ########################################
; ##### TemplateGCDChecks ################
; ########################################
[TemplateGCDChecks]
; Log file for a specific run
RunLogFile = %(logdir)s/TemplateGCDChecks/Run{run_id:0>8}.log

; Receivers for notifications: The key must start with 'NotificationReceiver' followed by an unique number
; NotificationReceiver1 = drwilliams3@ua.edu
; NotificationReceiver2 = john.kelley@icecube.wisc.edu
; NotificationReceiver3 = matt.kauer@icecube.wisc.edu
; NotificationReceiver7 = juancarlos@icecube.wisc.edu
NotificationReceiver8 = rsnihur@icecube.wisc.edu

; Managing crons
CronEnabled = On

; ########################################
; ##### CacheCheckSums ###################
; ########################################
[CacheCheckSums]
; The absolute path of the cache file
CacheFile = %(tmpdir)s/checksum_cache.json

; How many *days* should the script look back?
LookBack = 5

; How old must be the file before it will be indexed?
; This should be at least a few minutes to avoid MD5 check sums of an incompleted file
; Unit is seconds
HoldOffInterval = 300

; Paths that should be checked: You can use {year}, {month}, {day} but {run_id}, {sub_run_id}, {production_version}, and {snapshot_id} will be replaced by *
; Note: You can add several paths but the variable needs to start with `Path` followed by a number
Path1 = ${PFFilt:PFFiltFile}
; Path2 = ${PFDST:PFDSTFile}

; Managing crons
CronEnabled = On

; ########################################
; ##### GetRunInfo #######################
; ########################################
[GetRunInfo]
; There is a cron that checks once a day if a new snapshot is available.
; If a new snapshot is available, the following receivers will get a email notification
; The key must start with 'NotificationReceiver' followed by an unique number
;NotificationReceiver2 = juancarlos@icecube.wisc.edu
NotificationReceiver4 = rsnihur@icecube.wisc.edu

; Managing crons
CronEnabled = On

; ########################################
; ##### Notifications ####################
; ########################################
[Notifications]
eMailSender = i3filter
eMailDomain = @icecube.wisc.edu
eMailMimeVersion = 1.0
eMailContentType = text/html

; ########################################
; ##### Crons ############################
; ########################################
[Crons]
; A list of emails that should be notyfied if any of the crons has been executed
;NotificationReceiver1 = juancarlos@icecube.wisc.edu
NotificationReceiver3 = rsnihur@icecube.wisc.edu

; How many lines of the log files should be included in the email?
FirstLines = 20
LastLines = 20

; ########################################
; ##### Logger ###########################
; ########################################
[Logger]
; Using python logger
;Format = [%%(asctime)s] %%(levelname)s: %%(module)s(%%(lineno)d):   %%(message)s


[ip2auth]
#rotok = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6ImRzY2h1bHR6Iiwicm9sZSI6InN5c3RlbSIsImdyb3VwcyI6W10sImlzcyI6IkljZVByb2QiLCJzdWIiOiJkc2NodWx0eiIsImV4cCI6MTU5NjY0Mzk2MC4wMTEyNzc3LCJuYmYiOjE1ODIwNjIxMDcuMDExMjc3NywiaWF0IjoxNTgyMDYyMTA3LjAxMTI3NzcsInR5cGUiOiJzeXN0ZW0ifQ.5Gc89jrZ9q0mkV5RPX5yOMDMjDpP1_3UwIqJlFNniOeJcJDUJK7hYrQtg33_09sPwJAAEAxRHTNICvZuwGcfEA
tmptok = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6Imp1YW5jYXJsb3MiLCJyb2xlIjoidXNlciIsImdyb3VwcyI6WyJzaW1wcm9kIiwidXNlcnMiXSwiaXNzIjoiSWNlUHJvZCIsInN1YiI6Imp1YW5jYXJsb3MiLCJleHAiOjE1ODM0MjU0MDcuNjczNjUxNywibmJmIjoxNTUxODAzMDA3LjY3MzY1MTcsImlhdCI6MTU1MTgwMzAwNy42NzM2NTE3LCJ0eXBlIjoidXNlciJ9.ANDwq5idCVv1xTS3jYst6jR3YyLabOdui22fgXu1WnEu0jFVFE49TxRIpUOx2MLvh28ZeUNRxA4mHeblVvoqaQ
#RMS20210520 rotok = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6Imp1YW5jYXJsb3MiLCJyb2xlIjoidXNlciIsImdyb3VwcyI6WyJzaW1wcm9kIiwiZmlsdGVyaW5nIiwidXNlcnMiXSwiaXNzIjoiSWNlUHJvZCIsInN1YiI6Imp1YW5jYXJsb3MiLCJleHAiOjE2MjE0NTM0MDMuOTk3OTIzNCwibmJmIjoxNTg5OTE3NDAzLjk5NzkyMzQsImlhdCI6MTU4OTkxNzQwMy45OTc5MjM0LCJ0eXBlIjoidGVtcCJ9.wW1gxaR97dy9RuYGa_6so2dgm7-5LHrC-Brmp2-M_2fbtUMiP6GmITwnzCzUWk9aM0myqE7gAUXWktMkdvtM7Q
rotok = eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VybmFtZSI6InJzbmlodXIiLCJyb2xlIjoidXNlciIsImdyb3VwcyI6WyJmaWx0ZXJpbmciLCJ1c2VycyJdLCJpc3MiOiJJY2VQcm9kIiwic3ViIjoicnNuaWh1ciIsImV4cCI6MTY1MzE4MjQ3MC4wOTUxMDI4LCJuYmYiOjE2MjE1NjAwNzAuMDk1MTAyOCwiaWF0IjoxNjIxNTYwMDcwLjA5NTEwMjgsInR5cGUiOiJ1c2VyIn0.zWNNlKpwoZhul90MBfWOSG_F_vyLlJhPefNixE6NVQlVx7qihdaJEj7SrJrULqFzoWqARFWOuxOMxObXyTUp7A

