
body {
    background-color: white;
    margin: 0;
    font-family: Sans-Serif;
    font-size: 15px;
    color: #444444;
}

#header {

}

#footer {
    color: #aaa;
    font-size: 0.7em;
}

#footer a {
    color: #aaa;
}

#footer a:hover {
    text-decoration: none;
}

.highlight:hover {
    box-shadow: 0 5px 5px #aaaaaa;
}

.wrapper {
    padding: 30px 30px 10px 30px;
}

div div.wrapper#nav {
    background-color: #181a30;
    border-top: 1px solid #2e325b;
    box-shadow: 0 5px 5px #aaaaaa;
    color: white;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

#change_indicator {
    box-shadow: 0 0 15px white;
    background-color: white;
    background-image: url("../images/bell.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    line-height: 33px;
    position: relative;
    top: 2px;
    width: 20px;
}

#last_update, #preferences, #update_interval, #dataset_id, #title {
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
    line-height: 33px;
}

#update_now {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#last_update span {
    font-weight: normal;
}

#last_update img {
    position: relative;
    top: 6px;
    margin-left: 5px;
    padding: 2px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #B3997E;
}

#preferences img {
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#frame {
    margin: 30px;
    margin-top: 110px;
}

#frame h2 {
    margin-top: 2px;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
    display: block;
}

.toggle {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
}

.toggle:hover {
    border-color: #888;
}

.toggle .captain {
    cursor: pointer;
}

.toggle-content {
    margin-top: 30px;
}

div.toggle-indicator {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    opacity: 0.5;
    cursor: pointer;
}

.toggle:hover div.toggle-indicator {
    opacity: 1.0;
}

.toggle-indicator.open {
    background-image: url('../images/triangle_down.png');
}

.toggle-indicator.close {
    background-image: url('../images/triangle_up.png');
}

tr.failed td {
    color: white;
}

tr.failed.odd td {
    background-color: #FB3939 !important;
}

tr.failed.even td {
    background-color: #F12020 !important;
}

tr.failed:hover td {
    background-color: #F36161 !important;
}

.log {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: .7em;
    font-family: monospace;
}

.log-empty {
    border: 1px solid #fea000;
    border-radius: 5px;
    background-color: #ffd999;
    padding: 5px;
}

.filepath {
    padding: 5px;
    border: 1px solid #0966e6;
    border-radius: 5px;
    background-color: #9cc5ff;
    margin-bottom: 20px;
    padding-top: 3px;
}

.filepath input {
    font-size: .7em !important;
    font-family: monospace !important;
    width: 97%;
    background: transparent;
    border: none;
}

#calendar table {
    border: 1px solid #eee;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px;
    vertical-align: top;
}

#calendar table:hover {
    border-color: #ddd;
}

#calendar table thead tr:first-child td {
    font-weight: bold;
    padding-bottom: 2px;
    text-align: center;
}

#calendar table thead tr:last-child td {
    border-bottom: 1px solid #eee;
    padding-bottom: 2px;
    text-align: center;
}

#calendar table tbody tr td {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    text-align: right;
}

#calendar table tbody tr td:hover {
   border-color: #ddd;
}

#calendar .day-ok {
    cursor: pointer;
    background-color: green;
    color: white;
}

#calendar table tbody tr td.day-ok:hover {
    border-color: #014100;
}

#calendar .day-proc {
    cursor: pointer;
    background-color: #FFE400;
}

#calendar .day-proc-error {
    cursor: pointer;
    background-color: orange;
}

#calendar .day-error {
    cursor: pointer;
    background-color: red;
    color: white;
}

#calendar .day-not-all-submitted {
    background-image: url("../images/triangle_top-left.png");
    background-position: left top;
    background-repeat: no-repeat;
}

#calendar #legend .day-not-all-submitted {
    background-color: gray;
}

#calendar .day-not-validated {
    background-image: url('../images/not_validated.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}

#calendar .day-not-all-submitted.day-not-validated {
    background-image: url("../images/triangle_top-left.png"), url('../images/not_validated.png');
    background-position: left top, left bottom;
}

#calendar #legend .day-not-validated {
    background-color: gray;
}

#calendar table tbody tr td.day-error:hover {
    border-color: #870000;
}

#calendar #legend {
    margin-top: 20px;
}

#calendar #legend .label {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
}

#calendar #legend .label .icon {
    border-radius: 2px;
    display: inline-block;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    width: 15px;
    border: 1px solid #444;
}

.ui-tooltip table thead td {
    font-weight: bold;
}

.ui-tooltip table thead tr:first-child td {
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
}

.ui-tooltip table tbody tr td {
    text-align: center;
}

.ui-tooltip table tbody tr td:first-child {
    text-align: left;
}

.ui-tooltip .run-ok {
    color: green;
}

.ui-tooltip .run-bad {
    color: red;
}

