
@import url('jobmonitor.calendar.css');
@import url('jobmonitor.datasets.css');
@import url('jobmonitor.jobs.css');

body {
    padding-top: 70px;
}

#content-frame {
    padding: 50px;
}

.jm-invisible {
    display: none;
}

