
#jm-content-view-dataset-selection .jm-view-content table tbody tr td {
    cursor: pointer;
}

#jm-content-view-dataset-selection .jm-view-content table tbody tr td.text-muted {
    cursor: not-allowed;
}

#jm-content-view-dataset-selection .jm-view-content table tbody tr td.labels {
    width: 100px;
    text-align: right;
}
