
#jm-content-view-current-jobs tr.failed td, #jm-content-view-current-jobs tr td.failed {
    background-color: red;
    color: white;
}

#jm-content-view-current-jobs tr.error td, #jm-content-view-current-jobs tr td.error {
    background-color: orange;
}

#jm-content-view-current-jobs tr.ok td, #jm-content-view-current-jobs tr td.ok {
    background-color: green;
    color: white;
}

#jm-content-view-current-jobs tr.proc td, #jm-content-view-current-jobs tr td.proc {
    background-color: orange;
}

#jm-content-view-current-jobs tr.idle td, #jm-content-view-current-jobs tr td.idle {
    background-color: #B3B7FF;
}

#jm-content-view-current-jobs tr.error td, #jm-content-view-current-jobs tr.failed td {
    cursor: pointer;
    font-weight: bold;
}

#jm-dialog #jm-dialog-log-content pre.log {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

